/* Importing Google Fonts - Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import url(utility.css);

/*=============== Root Variables ===============*/
:root {
  --header-height: 8rem; /* Header height */

  /*========== Colors ==========*/
  --color-white: #ffffff; /* White color */
  --color-dark: #181818; /* Dark color */
  --color-primary: #4b5945; /* Primary theme color */
  --color-primary-50: #4b594550;
  --color-primary-light: #b2c9ad; /* Lighter shade of primary color */
  --color-light-transparent: #d7e5be50;
  --color-secondary: #fecd0c;
  --color-gray: #ffffff80;

  /*========== Font and typography ==========*/
  --body-font: "Outfit", sans-serif; /* Default font family */

  /* Font sizes */
  --normal-font-size: 1.6rem;

  /*========== Font weights ==========*/
  --font-regular: 400; /* Normal weight */
  --font-medium: 500; /* Medium weight */
  --font-semi-bold: 600; /* Semi-bold weight */

  /*========== z-index values ==========*/
  --z-tooltip: 10; /* For tooltips */
  --z-fixed: 100; /* Fixed elements like header */
}

/*=============== BASE STYLES ===============*/
/* Reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-dark);
}

/* Smooth scrolling and root font size setup */
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}

/* Body defaults */
body {
  font-family: var(--body-font);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Remove text underline and add hover transition */
a {
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*=============== REUSABLE CSS CLASSES ===============*/
/* Container for content alignment */
.container {
  max-width: 117rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.6rem;
}

.grid-container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* Flex utility class */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

/* Grid utility class */
.grid {
  display: grid;
  gap: 1rem;
}

.section {
  padding: 10rem 0;
}

/* Button styles */
/* span.btn-wrapper, span.btn, span.btn-icon{
  line-height: initial;
} */

.btn {
  font-size: var(--normal-font-size);
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  font-weight: var(--font-regular);
  transition: 0.3s;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  border: 2px solid transparent;
}

.btn-container {
  display: inline-block;
  padding-top: 3.5rem;
}

/* Normal button */
.btn-normal {
  color: var(--color-dark);
  background-color: var(--color-white);
}

.btn-normal:hover {
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
}

/* Primary Light button */
.btn-primary-light {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  font-weight: var(--font-medium);
}

.btn-primary-light:hover {
  background-color: transparent;
  color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

/* Primary button */
.btn-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
  font-weight: var(--font-medium);
  display: inline-block;
  z-index: var(--z-tooltip);
  position: relative;
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-icon {
  position: absolute;
  content: "";
  width: 6rem;
  height: 6rem;
  text-align: center;
  background-color: var(--color-primary-light);
  display: inline-block;
  border-radius: 5rem;
  margin-left: -1.5rem;
  z-index: var(--z-tooltip);
  transition: 0.3s;
  border: 2px solid var(--color-primary-light);
}

.btn-container:hover .btn-icon {
  margin-left: 0.5rem;
  background-color: transparent;
}

.btn-icon i {
  display: inline-block;
  font-size: 2.5rem;
  color: var(--color-primary);
  margin-top: 1.2rem;
}

/* Big header style */
h1 {
  font-size: 6.4rem;
  font-weight: var(--font-semi-bold);
}

h2 {
  font-size: 4.8rem;
  font-weight: var(--font-semi-bold);
}

h3 {
  font-size: 3.2rem;
  font-weight: var(--font-semi-bold);
}

h4 {
  font-size: 2.2rem;
  font-weight: var(--font-semi-bold);
}

/* Body text style */
p {
  font-size: 1.6rem;
  line-height: 3rem;
  margin: 1.5rem 0;
}

/*=============== BG Stroke Classes ===============*/

.stroke-1 {
  background: url("../img/frame.png") center center/cover no-repeat;
  padding: 3rem 0 3rem 5rem;
}

.stroke-2 {
  background: url("../img/stroke-2.png") center center/cover no-repeat;
  padding: 5rem 0 2rem 5rem;
}

.stroke-3 {
  background: url("../img/storke-3.png") right center/contain no-repeat;
}

/*=============== Gradient Background Classes ===============*/

.bg-1 {
  background: var(--color-primary);
  min-height: 72rem;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

/* Hero decorative elements */
.bg-1::before {
  position: absolute;
  content: "";
  top: -1.9rem;
  left: -6rem;
  width: 27rem;
  height: 27rem;
  background-color: var(--color-primary-light);
  filter: blur(60.5px);
  border-radius: 50%;
  opacity: 0.4;
}

.bg-1::after {
  position: absolute;
  content: "";
  bottom: -2%;
  right: -10%;
  background-color: var(--color-primary-light);
  width: 39.7rem;
  height: 39.7rem;
  border-radius: 50%;
  filter: blur(170.5px);
}

.bg-2 {
  background: var(--color-primary);
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.bg-2::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 7rem;
  height: 7rem;
  background-color: var(--color-primary-light);
  filter: blur(60.5px);
  border-radius: 50%;
}

.bg-3 {
  overflow: hidden;
  position: relative;
  background: var(--color-primary);
}

.bg-3::before {
  position: absolute;
  content: "";
  top: -5rem;
  left: -10rem;
  width: 39rem;
  height: 39rem;
  background-color: var(--color-primary-light);
  border-radius: 50%;
  filter: blur(250.5px);
}

.bg-4 {
  overflow: hidden;
  position: relative;
  background: var(--color-primary);
}

/*=============== HEADER & NAVIGATION ===============*/
/* Header setup */
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.3s;
}
.scroll-header {
  background-color: var(--color-primary);
  opacity: 0.9;
  z-index: var(--z-fixed);
}
/* Navigation container */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

/* Logo styles */
.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  height: 3rem; /* Logo image height */
}

.nav__logo--text {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--color-white);
  margin-left: 1rem;
}

/* Navigation links */
.nav__list {
  display: flex;
  gap: 5rem; /* Space between menu items */
}

.nav__item {
  position: relative;
}

.nav__item::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-white);
  transition: 0.3s;
}

.nav__item:hover::before,
.nav__item--active::before {
  width: 100%;
}

.nav__item--active {
  pointer-events: none;
}

.nav__link {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--color-white);
}

.nav__link i {
  display: none; /* Hide icons by default */
}

/*=============== HERO SECTION ===============*/

.image-wrapper {
  display: flex;
  gap: 1rem;
}

.image-wrapper img {
  width: 16.4rem;
  height: 40rem;
  border-radius: 110px; /* Rounded edges */
  border: 2px solid var(--color-primary-light);
}

/*=============== Content Section ===============*/

.counter-section {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.counter {
  font-size: 2.4rem;
  font-weight: var(--font-medium);
}

.counter-text {
  font-size: 1.6rem;
  opacity: 0.8;
}

/* Video Section Styling */
.video__section {
  margin-top: -15.5rem;
}
.video__thumbnail {
  position: relative;
  cursor: pointer;
}

.thumbnail-img {
  width: 100%;
  height: auto;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: var(--color-white);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  cursor: pointer;
  width: 7rem;
  height: 7rem;
}

.play-button span {
  font-size: 3.5rem;
  margin-left: 2.5rem;
}

.video__popup {
  display: none;
  transition: 0.3s ease;
  z-index: var(--z-tooltip);
}

.video__container.active .video-popup {
  display: block;
}

.video__container.active .video-thumbnail {
  display: none;
}

/* Services Section */

#services .grid {
  grid-template-columns: 45% 55%;
}

/* Style for the FAQ question container */

.faq-item {
  border-top: 1px solid var(--color-primary-light);
}
.faq-item:last-child {
  border-bottom: 1px solid var(--color-primary-light);
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  text-align: left;
  background-color: transparent;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style for the FAQ icon */
.faq-icon {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 2rem;
  transition: transform 3s ease;
}

/* FAQ answers transition and icon styling */
.faq-answer {
  max-height: 0;
  padding-bottom: 0;
  display: block;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

/* FAQ item expanded: rotate icon for minus symbol */
.faq-answer.open {
  max-height: 1000px;
  padding-bottom: 10rem;
}
.faq-answer.open + .faq-question .faq-icon i {
  transform: rotate(45deg);
}

/* FAQ item collapsed: Reset icon to plus */
.faq-answer + .faq-question .faq-icon i {
  transform: rotate(0deg);
}

/* Hover effect for FAQ question */
.faq-question:hover .faq-icon {
  opacity: 0.8;
}

/* Hover effect for FAQ question itself */
.faq-question:hover {
  opacity: 0.8;
}

/* Products Design */

/* Button and Product Image Styling */
.product-img {
  position: relative;
}

.product-btn {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  font-size: 1.6rem;
  background-color: var(--color-primary-50);
  padding: 1.5rem 4.5rem;
  color: var(--color-white);
  border-radius: 5rem;
  border: 1px solid var(--color-white);
  display: inline-flex;
  align-items: center;
}

.product-btn:hover {
  background-color: var(--color-primary);
}

.product-btn span {
  line-height: initial;
  margin: initial;
}

.product__btn--icon {
  position: absolute;
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  height: 3rem;
  width: 3rem;
  right: 1rem;
  border-radius: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Product Slider Button */
.product {
  position: relative;
}

.product .swiper-button-prev::after,
.product .swiper-button-next::after {
  content: "";
}
.product .swiper-button-next,
.product .swiper-button-prev {
  position: absolute;
  font-size: 2rem;
  top: initial;
  bottom: initial;
  width: initial;
  height: initial;
  color: var(--title-color);
}

.product .swiper-button-prev {
  left: 45rem;
}

.product [class^="swiper-button-"] i {
  font-size: 3rem;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 50px;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  display: inline-block;
  transition: 0.3s ease;
}

.product [class^="swiper-button-"] i:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/*=============== Testimonial Section ===============*/
.testimonial-item .grid-container {
  grid-template-columns: 40% 60%;
}

.testimonial-item .testimonial-img {
  background-color: var(--color-light-transparent);
  padding: 6rem;
  border-radius: 2rem;
}

.testimonial-item .testimonial-img img {
  margin: 0 auto;
}

.testimonial-item .grid-item-right {
  padding-left: 5rem;
}

.testimonial-reviews i {
  color: var(--color-secondary);
  font-size: 2rem;
}

.testimonial-slider {
  display: flex;
}

.testimonial-slider .swiper-button-prev::after,
.testimonial-slider .swiper-button-next::after {
  content: "";
}
.testimonial-slider .swiper-button-next,
.testimonial-slider .swiper-button-prev {
  position: absolute;
  font-size: 2rem;
  top: 40rem;
  bottom: initial;
  width: initial;
  height: initial;
  color: var(--title-color);
}

.testimonial-slider .swiper-button-prev {
  left: calc(40% + 6rem);
}

.testimonial-slider .swiper-button-next {
  right: calc(40% + 6rem);
}

.testimonial-slider [class^="swiper-button-"] i {
  font-size: 3rem;
  color: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
  border-radius: 50px;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  display: inline-block;
  transition: 0.3s ease;
}

.testimonial-slider [class^="swiper-button-"] i:hover {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

/* Contact Section Style */
.contact-section .grid {
  gap: 10rem;
}

.contact-section .grid-container {
  grid-template-columns: 1fr 0.9fr;
}

.contact {
  display: flex;
  justify-content: end;
  padding: 5rem 0 5rem 5rem;
}

.contact img {
  width: 100%;
}

.form .form-row {
  gap: 2rem;
}

.form-group {
  width: 100%;
}

.form-group label {
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  height: 5rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  font-size: 1.6rem;
  border: 1px solid #ddd;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
  width: 100%;
  transition: border 0.3s ease;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  font-size: 1.6rem;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border: 1px solid var(--color-primary-light);
}

.form .btn {
  width: 100%;
}
